# Configuración de Servidor de Correo (SMTP)
# Copia este archivo a un nuevo archivo llamado `.env` y define tus datos, o define estas variables en tu entorno de ejecución.

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu_correo@gmail.com
EMAIL_HOST_PASSWORD=tu_contraseña_de_aplicacion
DEFAULT_FROM_EMAIL=TurnoFácil <tu_correo@gmail.com>
